/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 415px) and (max-width:1024px){
   body {
        font-size:22px
    }
      .header{
     
        display: grid;
        grid-auto-flow:row;
        grid-template-columns: 2fr 5fr 0.8fr;
        grid-template-rows:50px;
    }
      .title{
        justify-self:end;
        align-self: center;
        margin-right: 5%;
        letter-spacing: 2px;
    }
    .header_itm img{
        width: 55px;
        height: 50px;
    }
    .wrap_img{
      height: 350px;

    }
    .imgclass{
      height: 250px;
    }
   
    .el-carousel__container{
      height: 250px;
    }
     #DrivingSchool{
      height: 250px;
    }
     .DrivingSchool_left{
      height: 250px;
    }
    .DrivingSchool_right{
     height: 220px;
     right: -1%;
    }
.DrivingSchool_right_bottom ul {
bottom: 0%;
left: 50%;
}
.DrivingSchool_right_bottom_content{
    -webkit-line-clamp: 4;
    overflow: hidden;
    height: 115px;
   
}
.DrivingSchool_right_bottom_content span {
    color: gray;
    font-size: 10px;
   
}
.el-icon-d-arrow-right{
 top: 84%;
 right: 0%;

}
.tickfoot{
 bottom: -80%;
  left: 50%;
}

}