/* Medium devices (landscape tablets, 768px and up) */
@media  screen and (min-width: 415px) and (max-width:1024px){
   body {
        font-size:22px
    }
      .header{
     
        display: grid;
        grid-auto-flow:row;
        grid-template-columns: 2fr 5fr 0.8fr;
        grid-template-rows:50px;
    }
      .title{
        justify-self:end;
        align-self: center;
        margin-right: 5%;
        letter-spacing: 2px;
    }
    .header_itm img{
        width: 55px;
        height: 50px;
    }
    .wrap_img{
      height: 350px;

    }
    .imgclass{
      height: 250px;
    }
   
    .el-carousel__container{
      height: 250px;
    }
     #DrivingSchool{
      height: 250px;
    }
     .DrivingSchool_left{
      height: 250px;
    }
    .DrivingSchool_right{
     height: 220px;
     right: -1%;
    }
.DrivingSchool_right_bottom ul {
bottom: 0%;
left: 50%;
}
.DrivingSchool_right_bottom_content{
    -webkit-line-clamp: 4;
    overflow: hidden;
    height: 115px;
   
}
.DrivingSchool_right_bottom_content span {
    color: gray;
    font-size: 10px;
   
}
.el-icon-d-arrow-right{
 top: 84%;
 right: 0%;

}
.tickfoot{
 top: 50%;
  left: 50%;
}
  .mask_doc{
    line-height: 40px;
  }
.icon-shuxian{
    left: 4%;
    font-size: 38px;
    top: 3%;
}
.coach{
  height: 28rem;
}

.coach_content{
     grid-template-columns:  1fr 1.2fr 1.5fr  ;
     grid-template-rows:12rem;

}
  .content_one{
    align-self: start;
}
  .content_one img {
    width: 48%;
    height: 87px;
    margin-left: 18px;
    transform: scale(0.8)
}
   .content_two i{
    font-size: 50px;
    margin-top: 25px;
    margin-left: 10px
}
.content_two p:nth-child(2){
  color:gray;
  font-size: 15px;
}
.content_two p:nth-child(4){
      margin-top: 10px;
    font-size: 1px;
}
   .content_three {
    font-size: 12px;
    }
 .three_list:nth-last-child(1),.three_list:nth-last-child(2){
     margin-top: 5px;
}
.three_list_tiao{
    height: 8px;
    background-color: dodgerblue;
}
   .coach_footer{
    display: grid;
     grid-template-columns:  1fr 1fr 1fr 1fr;
     grid-template-rows:5rem;
    }
    .footer{
        border-bottom-width: 0.5rem;
      }
}